<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Salut <%= @user %>. Check ton code, fais pas ta bitch, rend l'argent pour le service <%= @service %> :
    </p>
    <h3> <%= @code %> </h3>
    <a href=<%= @url %> >Clic pour saisir ton code. Ty bro. </a>
  </body>
</html>