<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'Créez votre compte en moins de 60 secondes! '], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
