<%- model_class = User -%>
<% content_for :head do %>
	 <%= stylesheet_link_tag 'profil' %>
	 <%= javascript_include_tag 'profil' %>
<% end %>

<div id="profil" class="container" style="padding-top:150px">
	<%= render 'profil' %>
</div>

<div id="badges">
	<%= render 'badgesprofil' %>
</div>

