#avanced{
	cursor: pointer;
}

#avancedparams{
	display: block;
}
#avanced{
	display: none;
}
#recherche{
	display: none;
}

#regionB{
	cursor: pointer;
}

#region{
	display: none;
}

#ville{
	display: none;
}

#villeB{
	cursor: pointer;
}

#avancedClose{
	display:block;
	cursor: pointer;
}

#map{
	width:100%;
}