// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
@import "bootstrap";
.form-horizontal{
 text-align:center;
}

.center{
  display:inline-block;
}

#confirm_mdp{
  width:auto;
}
