<body>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Syra</h1>
			<p>
				Et si internet permettait de rapprocher les personnes pour une entraide plus sociale, plus relationnelle, plus directe. Aidez quelqu'un en proposant un service ...
			</p>
			<row style="text-align:center">
				<p>
					<%= link_to "Proposer un service" , create_service_path, :id => "button_id", :class => "btn btn-primary btn-lg" %>
				</p>
			</row>

			<form class="navbar-form navbar-left" role="form">
				<div class="form-group">
					<input type="text" placeholder="Ex: Tondre la pelouse, Cours de chant etc..." class="form-control">
				</div>
				<%= link_to "Rechercher" , recherche_path, :id => "button_id", :class => "btn btn-info" %>
				<!--<button type="submit" class="btn btn-success">
				Rechercher
				</button>
				-->
			</form>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Tondre la pelouse</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">Plus de details &raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Coudre écharpe</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">Plus de details &raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Installation livebox</h2>
				<p>
					Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">Plus de details &raquo;</a>
				</p>
			</div>
		</div>

		<hr>

		<footer>
			<p>
				&copy; Syra 2014
			</p>
		</footer>
	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>