<body>
	</br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img data-src="holder.js/300x200" alt="...">
					<div class="caption">
						<h3>Maxime Boutrouille</h3>
						<p>
							Syra est une plateforme de partage de services. Chaque service est monnayé via une monnaie virtuelle.
							Les services peuvent être de tout type, tondre la pelouse, réparé un ordinateur, faire un gateau. Le concept a été calqué sur celui du SEL
						</p>
						<p>
							<a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JavaScript -->
	<script src="../../assets/javascripts/jquery-1.10.2.js"></script>
	<script src="../../assets/javascripts/bootstrap.js"></script>
</body>
</html>
