<%= stylesheet_link_tag   "market" %>

<div class="container">
	<div class="row">
		<h2 id="details">Choisi ton package</h2>
	</div>
	<br>

	<!-- Pack 1-->
	<div class="col-md-3" id="home-box">
		<div class="pricing_header">
			<h2>Utilisateur Classique</h2>
			<div class="space"></div>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Répondre aux services
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Poster 3 services ou besoins par mois 
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> Poster des services illimités
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> Sans publicités
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> +20% d'HP dans lors des transactions
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> +10% d'xp lors de vos actions
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> Déblocage du badges premium
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> Aller sur la lune
			</li>
		</ul>

		<div class="try">
			<p class="price">
				Gratuit
			</p>
		</div>
	</div>
	<!-- Pack 2-->
	<div class="col-md-3" id="home-box">
		<div class="pricing_header">
			<h2>Utilisateur Premium</h2>
			<div class="space"></div>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Répondre aux services
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Poster 3 services ou besoins par mois 
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Poster des services illimités
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Sans publicités
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> +20% d'HP dans lors des transactions
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> +10% d'xp lors de vos actions
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span> Déblocage du badges premium
			</li>
			<li class="list-group-item off">
				<span class="glyphicon glyphicon-remove"></span> Aller sur la lune
			</li>
		</ul>

		<div class="try">
			<p class="price">
				6.99 €
			</p>
			<a class="btn btn-default" href="#" type="button">Deviens Premium</a>

		</div>
	</div>
</div>
