<!DOCTYPE html>
<html>
<head>
  <title>Syra</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="../../assets/bootstrap.css">
  <link href="jumbotron.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
<link rel="stylesheet" href="../../assets/bootstrap.min.js">
  <%= csrf_meta_tags %>
</head>

<%= yield %>

</html>
