
<% if !@suggestionsDemandes.nil? && !@suggestionsDemandes.empty? %>
	<div class="panel panel-info">
	  <div class="panel-heading text-center">Vous pouvez peut etre aider</div>
	  <div class="panel-body">
	    <ul>
	    	<% @suggestionsDemandes.each do |s| %>
	    		<li> <a href="/services/<%=s.id%>"><%= s.title %></a></li>
	    	<% end %>
	    </ul>
	  </div>
	</div>
<% end %>
