<% if @suggestionsDemandes.nil? %><input type="hidden" id="callsuggestionsdemandes" /><% end %>
<% suggestions = @suggestionsDemandes.nil? ? [] : @suggestionsDemandes %>
<% unless suggestions.empty? %>
	<div class="panel panel-info">
	  <div class="panel-heading text-center">Vous pouvez peut etre aider</div>
	  <div class="panel-body">
	    <ul>
	    	<% suggestions.each do |s| %>
	    		<li> <a href="/services/<%=s.id%>"><%= s.title %></a></li>
	    	<% end %>
	    </ul>
	  </div>
	</div>
<% end %>
